.header{
    &__box{
        &__ul{
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            list-style: none;
            margin-right:1rem ;
            &--li{
            font-size: .85rem;
            }
        }
    }
}
