.header{
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: 1rem;
    &__box{
        &__ul{
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            list-style: none;
            margin-right:1rem ;
            &--li{
            font-size: .85rem;
            }
        }
    }
}
